*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-color: #ff7f50;
    color: darkgoldenrod;
    padding: 5px 10px 5px 10px;
    margin: 10px 10px 10px 10px;
    border: 15px solid rgb(226, 226, 47);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
section{
    width: 100%;
    background-color: chocolate;
    max-width:1240px;
    padding:10px;
}
section article{
    width:90%;
    margin:0 auto;
    background-color: rgb(223, 237, 100);
    padding:10px;
    text-align:justify;
}
@media(min-width:640px){ 
    h1{
        background-color: rgb(239, 190, 15);
        color: rgb(184, 194, 71);
        font-size: 3cm;
    }
}